
.bk-im {
    background-image: url("../image/pexels-miguel-padrin-19670.jpg");
    background-size: cover;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
}



.container, .card, .tab-content {
    background-color: rgb(255,255, 255, 0.5);
   
}

#search-form {
    display:inline;
}
.card-img-top {
    display: block;
    align-items: center;
    max-width: 100%;
}



.btn-outline {
    border-radius: 12px;
    transition: 200ms all ease-out;
}
.btn-outline:hover {
    opacity: 1.2;
    background-color: #35383d;
    color: white;
}

.fa-type {
    font-size: 32px;
}

.main-form {
    font-size: 72px;
    margin-left: 17%;
    margin-top: 18%;
    text-align: left;


}



#city-header {
    display: inline;
    left: 30px;
}
#title-location {
    right:80px;
}



.p-main-form {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    top: 32px;
    font-size: 20px;
}



.main-fr-icon {
    width: 220px;
    position: relative;
    top: 10%;

    
}

.main-card-img {
    height: 400px;
    opacity: 0.3;
}
.h2-main-form{
    position: relative;
    left: 47%;
    bottom: 32%;
    font-size: 52px;
}

.h2-degree {
    display: inline;
    position: relative;
    left: 47%;
    bottom: 30%;
    font-size: 32px;
}

.h3-main-form {
    position: relative;
    left: 18%;
    bottom: 100px;
    font-size: 32px;
}


.h3-main-form:first-letter {
    text-transform: capitalize;
}

a{
    text-decoration: none;
    color: #35383d;
}

.section-2 {
    position: relative;    
    background-size: cover;
    height: 400px;
    
    }
.nav-pills {
    --bs-nav-pills-link-active-bg: #35383d;

}
.nav {
    --bs-nav-link-color: #35383d;
}

#pills-tabContent {
    padding: 20px 10px;
    border-radius: 0 0 12px 12px;
}

.forecast-weather:hover {
    opacity: 1.2;
    transition: all 200ms ease;
    transform: scale(1.1);
}

.nav-item:hover {
    opacity: 1.2;
    background-color: #757a79;
    color: white;
    --bs-nav-link-hover-color: white;
    border-radius: 0.375rem;
}

.container-table {
    font-size: 1.1rem;
    line-height: 60px;
    
    font-weight: 500;
}

